{# post.html.twig #}

{% extends 'base.html.twig' %}

  {% block title %}
    The "R" Lab - Blog
  {% endblock %}

  {% block css %}
	{{ parent() }}
  {% endblock %}

  {% block body%}
  
  {{ parent() }}


<!-- MAIN CONTAINER -->
    <div class="main-content">
      <!-- HEADER TREE -->
      <section class="header-tree" data-speed="8" data-type="background">
        <h2 class="hidden">Header tree</h2>
        <!-- parallax background -->
        <div class="cover-1" data-type="sprite" data-offsetY="-700" data-Xposition="50%" data-speed="-2"></div>
        <!-- .container -->
        <div class="container">
          <!-- .row -->
          <div class="row">
            <!-- .col-md-12 -->
            <div class="col-md-12">
              <ul class="breadcrumb clearfix mar-top-3x">
                <li><a class="link text-success" href="/">The "R" Lab</a></li>
                <li><a class="link" href="{{ path('platform_posts') }}">Blog</a></li>
                <li><a class="link" href="#">Post</a></li>
              </ul>
            </div>
            <!-- /.col-md-12 -->
          </div>
          <!-- /.row -->
        </div>
        <!-- /.container -->
      </section>
      <!-- HEADER TREE END -->
      <!-- BLOG POST BODY SECTION -->
      <section class="pattern-3 no-padding-right">
        <!-- .container -->
        <div class="container">
          <!-- .row -->
          <div class="row">
            <!-- .col-md-12 -->
            <div class="col-md-12">
              <!-- All blog posts -->
              <div class="mar-top-lg row">
                <!-- Left part -->
                <div class="col-md-8 blog-main">
                  <div class="post-detail sep-bottom-lg">
                    <figure class="no-margin">
                      <img src="{{asset("" ~ post.image.url  ) }}" alt="" class="img-responsive" />
                    </figure>
                    <div class="post-detail-body sep-xs">
                      <h3 class="text-uppercase">{{ post.title }}</h3>
                      <span class="line-sep-gray"></span>
                      <p> {{ post.content }} </p>
                    
                      <ul class="post-info pull-left">
                        <li><i class="iline2-round27 text-primary"></i> <a href="#">{{ post.createdAt | date('M d, Y') }}</a></li>
                        <li><i class="iline2-rectangular22 text-success"></i> <a href="#">{{ commentsNumber }} Comments</a></li>
                      </ul>
                      <span class="clearboth">
                      </span>
                    </div>
                  </div>
                  <div class="post-detail mar-top-xs">
                    <div class="post-detail-body sep-xs">
		{% if listComments|length > 0 %}	
                      <h3>Comments</h3>
                      <span class="line-sep-gray"></span>
                      <ul class="media-list">
			{% for value in listComments %}
                        <li class="media">
                          <div class="media-body">
                            <h4 class="media-heading text-primary">{{ value.firstName }}  {{ value.lastName }} </h4>
                            <p>
                               {{ value.content }}
                            </p>
                          </div>
                        </li>
			{% endfor %}	
                      </ul>
		{% endif %}
                      <h4 class="mar-top-md">Add a comment.</h4>
                      <span class="line-sep-gray"></span>
                      <p>All the inputs are required.</p>
			{{ form_start(form, {'attr': {'class': 'form-horizontal mar-top-sm wow fadeIn', 'data-wow-duration': '1s', 'data-wow-delay' : '.3s', 'name' : 'commentForm'}}) }}
			<p>{# Les erreurs générales du formulaire. #}{{ form_errors(form) }}</p>
                        <div class="row">
                          <div class="col-md-6 col-sm-6">
                            <div class="form-group control-group">
			      {{ form_widget(form.firstName, {'attr': {'class': 'form-control input-lg', 'placeholder': 'First Name* :'}}) }}
                              {{ form_errors(form.firstName) }}
                              <p class="help-block"></p>
                            </div>
                            <div class="form-group control-group">
			       {{ form_widget(form.lastName, {'attr': {'class': 'form-control input-lg', 'placeholder': 'Last Name* :'}}) }}
                               {{ form_errors(form.lastName) }}
                              <p class="help-block"></p>
                            </div>
                            <div class="form-group control-group">
			       {{ form_widget(form.email, {'attr': {'class': 'form-control input-lg', 'placeholder': 'E-mail* :'}}) }}
                              {{ form_errors(form.email) }}
                              <p class="help-block"></p>
                            </div>
                          </div>
                          <div class="col-md-6 col-sm-6">
                            <div class="form-group control-group">
			      {{ form_widget(form.content, {'attr': {'class': 'form-control input-lg', 'placeholder': 'Comment* :'}}) }}
                              {{ form_errors(form.content) }}
                              <p class="help-block"></p>
                            </div>
			    {{ form_widget(form.save, {'attr': {'class': 'submit btn btn-primary pull-right'}}) }}
                          </div>
                        </div>
			{{ form_rest(form) }}
                        <!-- /.row -->
			  {# Fermeture de la balise <form> du formulaire HTML #}
			  {{ form_end(form) }}
                    </div>
		{% for flashMessage in app.session.flashbag.get('notice') %}
		    <div class="alert alert-warning">
			{{ flashMessage }}
		    </div>
		{% endfor %}
                  </div>
                  <div class="nav-links mar-top-md">
                    <a href="{{ path('platform_post', {'id': --(post.id)}) }}" class="text-uppercase pull-left" ><i class="iline1-arrowhead2"></i> Preview Post</a>
                    <a href="{{ path('platform_post', {'id': ++(post.id)}) }}" class="text-uppercase pull-right" >Next Post <i class="iline1-chevron15"></i></a>
                  </div>
                </div>
                <!-- /Left part -->
                <!-- Right part -->
                <div class="col-md-4 blog-sidebar">
                  <!-- Categories List -->
                  <div class="post-detail">
                    <div class="post-detail-body sep-xs">
                      <h3 class="text-primary text-uppercase text-center">Categories</h3>
                      <ul class="text-capitalize sidebar">
			{% for category in categories %}
				 <li><a href="{{ path('platform_posts', {'categoryId':category.id}) }}" class="iline1-spiral4">{{ category.name }}</a></li>
			{% endfor %}
                      </ul>
                    </div>
                  </div>
                  <!-- Categories List End -->
                </div>
                <!-- /Right part -->
              </div>
            </div>
            <!-- /.col-md-12 -->
          </div>
          <!-- /.row -->
        </div>
        <!-- /.container -->
      </section>
      <!-- BLOG POST BODY SECTION END -->




  {% endblock %}    


{% block javascripts %}
{{ parent() }}
{% endblock %}

